/* starter css */

header {
    background-image: url("../img/festmeny2000x1500.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 350px;
}

nav {
    background: rgb(153, 183, 199);
    height: auto;
    width: 100%;
    float: left;
    display: block;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 3%;
    padding: 0.5%;
    font-size: 30px;
}

nav a:hover {
    background: #E2B7E2;
    color: #333333;
}

.active {
    color: #333333;
    background: #E2B7E2;
}

.row {
    padding: 60px 120px 60px 120px;
    margin: 5%;
}

.left-side {
    margin-left: 5%;
}

.right-side {
    margin-right: 5%;
    text-align: right;
}

.row:after {
    /* Clear floats after the columns  */
    content: "";
    display: table;
    clear: both;
    pointer-events: none;
}


/* profile wrappers */

.container-left {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-left:hover {
    opacity: 1;
    background-image: url("../img/barbi_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.container-mid {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-mid:hover {
    opacity: 1;
    background-image: url("../img/bruno_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.container-right {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-right:hover {
    opacity: 1;
    background-image: url("../img/beni_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


/* profile pictures */

.profile-pic-left {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -190px;
    pointer-events: auto;
}

.profile-pic-left:hover+.hide {
    display: block;
}

.profile-pic-left:hover+.general-description {
    display: none;
}

.profile-pic-mid {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    pointer-events: auto;
}

.profile-pic-mid:hover+.hide {
    display: block;
}

.profile-pic-right {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: 190px;
    pointer-events: auto;
}

.profile-pic-right:hover+.hide {
    display: block;
}

img:hover {
    box-shadow: 0 0 0 5px yellow;
}


/* no hover definition to keep other profile photos shown while hovering one */

.profile-pic-left-no-hover {
    opacity: 0.6;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -190px;
}

.profile-pic-mid-no-hover {
    opacity: 0.6;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
}

.profile-pic-right-no-hover {
    opacity: 0.6;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: 190px;
}


/* profile description text */

.hide {
    display: none;
    width: 30%;
    height: 150px;
    position: fixed;
    top: 12%;
    left: 37%;
    text-align: center;
}

div.description-text {
    background: rgb(153, 183, 199, 0.8);
    border-radius: 30px;
    padding: 30px;
    margin-top: 0%;
    font-style: italic;
}

.description-text p {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    font-style: normal;
}

.description-text h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    font-style: normal;
}


/* general description text */

.general-description {
    width: 30%;
    height: 150px;
    position: absolute;
    top: 62%;
    left: 37%;
    text-align: center;
    border-radius: 30px;
    padding: 30px;
    margin-top: 0%;
    font-style: italic;
}

.general-description p {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    font-style: normal;
}