header {
    background-image: url("../img/festmeny2000x1500.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 340px;
}

nav {
    background: rgb(153, 183, 199);
    height: auto;
    width: 100%;
    float: left;
    display: block;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 3%;
    padding: 0.45%;
    font-size: 29px;
}

nav a:hover {
    background: rgb(206, 103, 86);
    color: #333333;
}

.active {
    color: #333333;
    background: rgb(206, 103, 86);
}

.row {
    padding: 60px 120px 60px 120px;
    margin: 5%;
}

.left-side {
    margin-left: 5%;
}

.right-side {
    margin-right: 5%;
    text-align: right;
}

.row:after {
    /* Clear floats after the columns  */
    content: "";
    display: table;
    clear: both;
    pointer-events: none;
}


/* profile wrappers */

.container-left {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-left:hover {
    z-index: 1;
    opacity: 1;
    background-image: url("../img/barbi_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.container-mid {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-mid:hover {
    z-index: 1;
    opacity: 1;
    background-image: url("../img/bruno_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.container-right {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.123);
    pointer-events: none;
    opacity: 0.6;
    transition: 0.7s;
}

.container-right:hover {
    z-index: 1;
    opacity: 1;
    background-image: url("../img/beni_paint.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


/* profile pictures */

.profile-pic-left {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 26%;
    pointer-events: auto;
}

.profile-pic-left:hover+.hide {
    display: block;
}

.profile-pic-left:hover+.general-description {
    display: none;
}

.profile-pic-mid {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 44%;
    pointer-events: auto;
}

.profile-pic-mid:hover+.hide {
    display: block;
}

.profile-pic-right {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 38%;
    left: 62%;
    pointer-events: auto;
}

.profile-pic-right:hover+.hide {
    display: block;
}

img:hover {
    box-shadow: 0 0 0 5px rgb(206, 103, 86);
}


/* profile description text */

.hide {
    display: none;
    width: 30%;
    height: 120px;
    position: absolute;
    top: 12%;
    left: 33%;
    text-align: center;
}

div.description-text {
    background: rgb(153, 183, 199, 0.8);
    border-radius: 30px;
    padding: 30px;
    margin-top: 0%;
    font-style: italic;
}

.description-text p {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
}

.description-text h1 {
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    color: rgb(206, 103, 86);
}


/* general description text */

.general-description {
    width: 50%;
    height: 150px;
    position: absolute;
    top: 84%;
    left: 25%;
    text-align: center;
    border-radius: 30px;
    padding: 30px;
    margin-top: 0%;
    font-style: italic;
}

.general-description p {
    font-size: 19x;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    line-height: 1.3;
}


/* page bottom */

.bottom-row {
    width: 100%;
    position: absolute;
    top: 90%;
    padding: 0%;
    margin-top: 155px;
    background: rgb(153, 183, 199);
}

.bottom-row:after {
    /* Clear floats after the columns  */
    content: "";
    display: table;
    clear: both;
}

.bottom-column {
    float: left;
    padding: 10px;
}

.bottom-wide {
    width: 40%;
}

.bottom-narrow {
    width: 10%;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    color: white;
}

#infos {
    background: rgb(153, 183, 199);
    padding: 10px;
}

#infos p {
    padding: 5px;
    font-family: 'Comfortaa';
    color: white;
    font-size: 15px;
}

button {
    margin-top: 10px;
    background: rgb(206, 103, 86);
    color: #333333;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background: #e2a32e;
    color: #696da3;
}

.btn {
    margin: 10px 5px 10px 5px;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(206, 103, 86);
    color: #696da3;
}